<h1>Your Cart</h1>
<% if @cart.empty? %>
    <p>Your Cart is Empty</p>
<% end %>

<% total = 0 %>

<table class="cart">

    <tr>
        <td class="legent"></td>
        <td class="legent">Item</td>
        <td class="legent">Price</td>
        <td class="legent">Qty</td>
        <td class="legent">Total</td>
    </tr>
    
    <% @cart.each do |id, quantity | %>    
        <% item = Item.find_by_id(id) %>
        <tr>
            <td>
                <div class="image">
                    <%= link_to (image_tag item.image_url, :style => "height:40px"), item %>
                </div>
            </td>
            <td class="title"><%= link_to item.title, item %></td>
            <td class="price"><%= number_to_currency(item.price) %></td>
            <td class="quantity"><%=  quantity %></td>
            <td class="price"><%= number_to_currency(quantity * item.price, :unit => "f") %></td>
        
        </tr>
        <% total += quantity * item.price %>    
    <% end %>
    
    <tr>
        <td colspan="4">
            <div class="total">Total</div>
        </td>
        <td>
            <div class="price">
                <%= number_to_currency(total, :unit => "Eur") %>
            </div>
        </td>
    </tr>


</table>
<p>
    <%= link_to 'Continue Shopping', :controller => :items %>
</p>
